{% extends "account/base.html" %} {% load i18n %} {% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %} {% block content %}
<!-- crispy forms backage will handle the signup form -->
<main>
  <div class="container">
    <section class="mb-4">
      <div class="row wow fadeIn">
        <div class="col-6 offset-3">
          <h1>{% trans "Sign Up" %}</h1>
          <!-- the login link to redirect the user to the login form -->
          <p>
            {% blocktrans %}Already have an account? Then please
            <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
          </p>
          <!-- SignUp form which stand in : 
          env/lib/allauth/account/forms.py/SignupForm
          -->
          <form class="signup" id="signup_form" method="POST">
            {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <button class="btn btn-primary" type="submit">
              {% trans "Sign Up" %} &raquo;
            </button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
