<!--set all the products information such as the quantity and the description and 
the total price into the sidebar in checkout.html-->
<div class="col-md-12 mb-4">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <!-- Number of items-->
    <span class="badge badge-danger badge-pill">{{ order.items.count }}</span>
  </h4>
  <!--list of items with information-->
  <ul class="list-group mb-3 z-depth-1">
    <!-- loop through the order items-->
    {% for order_item in order.items.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6 class="my-0">
          <!-- render the quantity and the title for each product in the client's order-->
          {{ order_item.quantity }} x {{ order_item.item.title}}
        </h6>
        <!-- render the product's description-->
        <small class="text-muted">{{ order_item.item.description}}</small>
      </div>
      <!-- render the total price for each item-->
      <span class="text-muted">€{{ order_item.get_final_price }}</span>
    </li>
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between">
      <span>Total (EUR)</span>
      <!-- get the total price for the order-->
      <strong>€{{ order.get_total }}</strong>
    </li>
  </ul>

  <form class="card p-2" method="">
    <div class="input-group">
      <input
        type="text"
        name="code"
        class="form-control"
        placeholder="Store credit/ Gift card"
      />
      <div class="input-group-append">
        <button class="btn btn-black btn-md waves-effect m-0" type="">
          APPLY
        </button>
      </div>
    </div>
  </form>
</div>
